In [7]:
import pandas as pd

In [2]:
POINTS = {
    "X": {
        "own": 1,
        "A": 3,
        "B": 0,
        "C": 6
    },
    "Y": {
        "own": 2,
        "A": 6,
        "B": 3,
        "C": 0
    },
    "Z": {
        "own": 3,
        "A": 0,
        "B": 6,
        "C": 3
    }
}

# Test on the example

In [9]:
test = pd.DataFrame([
    ["A", "Y"],
    ["B", "X"],
    ["C", "Z"]
], columns=["opponent", "self"])

test

  opponent self
0        A    Y
1        B    X
2        C    Z

In [12]:
test.apply(lambda x: POINTS[x.self]["own"] + POINTS[x.self][x.opponent], axis=1).sum()

15

The answer is correct.

# Actual Data

In [17]:
df = pd.read_fwf("input.txt", header=None).rename(columns={0: "opponent", 1: "self"})

In [18]:
df.apply(lambda x: POINTS[x.self]["own"] + POINTS[x.self][x.opponent], axis=1).sum()

15572

# Task 2

In [24]:
POINTS_TASK_TWO = {
    "A": {
        "X": 3,
        "Y": 4,
        "Z": 8
    },
    "B": {
        "X": 1,
        "Y": 5,
        "Z": 9
    },
    "C": {
        "X": 2,
        "Y": 6,
        "Z": 7
    }
}

In [28]:
test.apply(lambda x: POINTS_TASK_TWO[x.opponent][x.self], axis=1).sum()

12

In [29]:
df.apply(lambda x: POINTS_TASK_TWO[x.opponent][x.self], axis=1).sum()

16098